class ${name} {
	
	// Setup function runs before Start and after Init to perform typical initialization steps.
	// Place functional that must run before other modules will talk to this module.
	Setup(com, fun) {		

		fun(null, com);
	}


	// Start function runs after Setup and is used to initiate the main functionality of the system.
	// Overall system logic should start here.
	Start(com, fun) {		

		fun(null, com);
	}
};