#loader svg {
	left: calc(50% - 39px);
	position: absolute;
	top: calc(50% - 39px);
}
#loader span {
	left: calc(50% - 3.18em);
	position: absolute;
	top: calc(50% + 45px);
}

h1 {
	padding-left: 24px;
}